html, body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: auto;
  width: 100%;
  height: 100%;
  background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
  background-attachment: fixed;
}

@-moz-keyframes cardGradient {
 0%{background-position:0% 99%}
 50%{background-position:100% 2%}
 100%{background-position:0% 99%}
}

@keyframes cardGradient {
 0%{background-position:0% 99%}
 50%{background-position:100% 2%}
 100%{background-position:0% 99%}
}

.main-outer-container {
  height: 95%;
  width: 95%;
  text-align: center;
  margin: 15px 15px 15px 15px;

}


div.header {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 45px;
  font-weight: lighter;
  color:#E6FAF1;
  margin-bottom: 1.5vw;
}

.question-container {
  display: inline-block;
  width: 85%;
  height: 25%;
  background: #F7FCFA;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  border-radius: 7px;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: light;
  box-shadow: inset -12px -8px 40px #464646;
  text-align: center;
  font-weight: 500;
  padding-top: 15px;
  margin-bottom: 1.5vw;
  padding-bottom: 20px;
}

input[type="text"] {
  width: 25vw;
  height: 22px;
  margin-top: 5px;
  padding-right: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 5px;
  text-transform: capitalize;
}

button#sendBtn {
  margin-left: -59px;
  height: 29px;
  width: 50px;
  background: #19E895;
  color: #E0FFF3;
  border: 0;
  border-radius: 5px;
  -webkit-appearance: none;
  cursor: pointer;
  font-weight: bolder;
  margin-top: 3px;
}

#clearBtn {
  background-color: #F2CA03;
  color: #000;
  height: 24px;
  border-radius: 10px;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  letter-spacing: .5px;
}

hr {
  width: 60%;
  color: #DAE0E6;
}

#questionFooter {
  font-size: .85em;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.previous-question-header {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color:#E6FAF1;
  margin-bottom: 1.5vw;
}

/* Start of the previous questions cards */

.flip-card {
 background-color: transparent;
 width: 300px;
 height: 200px;
 border-radius: 13px;
 position:relative;
 perspective: 1500px;


}

.flip-card-inner {
 position: relative;
 width: 100%;
 height: 100%;
 text-align: center;
 transition: transform 1.2s;
 transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
 transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
 position: absolute;
 width: 100%;
 height: 100%;
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 border-radius: 10px;
}

.flip-card-front {
  color: white;
  background-color: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  border: 3px groove  #fff;
  text-transform: capitalize;
}

.flip-card-back {
 background-color: white;
 color: black;
 transform: rotateY(180deg);
 border: 3px groove  #000;
 background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
}

span.card-question {
  font-size: .75em;
}

span.card-answer {
  font-size: .75em;
}

.unliked-card {
  display: none;
}

.card-like-active-front {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: -25
}

.card-like-active-back {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: -25
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.timestamp {
  font-size: 15px;
}

h3 {
  font-size: 15px;
}

.like-btn {
  background: #F2C709;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  width: 3.8vw;
  padding: 3px 3px 3px 3px;
  cursor: pointer;
}
/* #likeBtn {
  background: #F2C709;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  width: 3.8vw;
  padding: 3px 3px 3px 3px;
  cursor: pointer;
} */

.delete-btn {
  background: #FF425E;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  width: 3.8vw;
  padding: 3px 3px 3px 3px;
  cursor: pointer;
}
/* #deleteBtn {
  background: #FF425E;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  width: 3.8vw;
  padding: 3px 3px 3px 3px;
  cursor: pointer;
} */

.liked-label {
  font-size: 10px;
  font-family: Tahoma, Arial, sans-serif;
}


/* Start of the the previous questions container */
#previous-questions-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#error-message {
  font-size: .65em;
  display: block;
  margin-top: 10px;
  color: #FA3C5C;
  display: none;
}
